/* screen.css
 *
 * A clean, simple stylesheet that aims for
 * a consistent vertical rhythm.
 *
 * Base font height: 15px
 * Base line length: 24px
 *
 * Based on Mark Reid's stylesheet.
 */

/* Global reset */
* {
    margin: 0;
    padding: 0;
}

body {
	font-family: Palatino, georgia, "times new roman", serif;
	background-color: ivory;
	background-position: center -18em;
	background-repeat: repeat-x; 
}

/* Hack via Joel Spolsky to make image rescaling nicer in IE */
img { -ms-interpolation-mode: bicubic; }

/* IE6 ignores this and uses default size of 16pt */
html>body {
    font-size: 15px;
}

p {
    margin: 0 0 1.5em 0;
    text-align: justify;
}

a {
    text-decoration: none;
    color: navy;
}

a:hover {
    text-decoration: underline;
    color: maroon;
}

a.pdf:before { 
	margin-right: 1em;
	content: url(images/icon-pdf.gif);
}

h1, h2, h3, h4 {
	line-height: 1em;
	font-size: 1.5em;
	font-weight: normal; 
	clear: left; 	
	font-family: 'lucida grande', sans-serif; 
}

h1 {
    margin-bottom: 1em;
}

h2 {
	font-size: 100%;
	line-height: 1.5em;
	margin: 1.5em 0 1.5em 0;
	font-weight: bold;
}

hr { 
	border-top: 1px solid silver;
	border-bottom: none;
	padding: 0;
	margin: 1.46em 0 0 0;
}

sup {
    line-height: 1ex;
}


/* Site */
#site {
	max-width: 50em;
	margin: 1.5em auto 3em auto;
	line-height:1.5em;
}


/* Page (with border) */
#page {
	background: white;
	padding: 4em 3em 1.5em 3em;
	border: 2px solid #ccc;
/*	background-image: url(images/grid.png); */
}
#page {
	box-shadow: 2px 2px 8px #aaa;
	-webkit-box-shadow: 2px 2px 8px #aaa;
	-moz-box-shadow: 2px 2px 8px #aaa;	
}


/* Contacts header at the top of page */
#navheader {
	position: relative;
	font-variant: small-caps;
	line-height: 1em;
	margin-top: .5em;
	margin-bottom: 0;
	font-weight: bold;
}
#navheader:hover a {
    color: black;
    text-shadow: #aaa 2px 2px 3px;
}
#navheader ul {
    position: absolute;
    top: -3.5em;
    right: -2.5em;
    font-size: 100%;
    line-height: 1em;
    margin: 0;
    width: 100%;
    text-align: right;
}
#navheader ul li {
    display: inline;
}
#navheader ul li a {
    padding: 0em 0.3em 0 0.3em;
    color: midnightblue;
}
#navheader ul li a:hover {
    color: maroon;
    text-decoration: none;
}



/* Floating sidebar */
#navsidewrap {
    float: right;
    height: 1px;
    margin-right: -6.2em;
    margin-top: 4em;
}
#navsidebar {
    position: static;
    padding: 15px 15px 0 15px;
	background: white;
	border-width: 2px;
	border-style: solid solid solid none;
	border-color: #ccc #ccc #ccc #ccc;
    border-radius: 0px 0px 10px 0;
	box-shadow: 2px 2px 8px #aaa;
	-webkit-box-shadow: 2px 2px 8px #aaa;
	-moz-box-shadow: 2px 2px 8px #aaa;
}
/* This gets Google to fall into place */
.social {
    position: relative;
	font-size: 1px;
}
/* This gets Facebook to fall into place */
.social iframe {
	vertical-align: middle;
}
.social p {
    margin: 0 0 10px 0;
    text-align: center;
}
/* Set an optional width for your button wrappers */
/* .social span {display: inline-block; width: 110px; } */
/* Adjust the widths individually if you like */
/* .social .google { width: 75px; } */



/* Header */
#header {
	position: relative;
	font-variant: small-caps;
	line-height: 1em;
	margin-top: .5em;
	margin-bottom: 0;
	color: silver;
}
#header a {
    color: silver;
}
#header:hover a {
    color: gray;
    text-shadow: #aaa 2px 2px 3px;
    text-decoration: none;
}
#header:hover a:hover {
    color: black;
}
#header h1 {
	font-family: Palatino, georgia, "times new roman", serif;
	margin-bottom: 0;
	line-height: 0.9em;
	display: block;
	font-weight: normal;
}
#header ul {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 80%;
	line-height: 1.8em;
	display: block;
	margin: 0;
	width: 50%;
	text-align: right;
}
#header ul li {
    display: inline;
}
#header ul li a {
	padding: 0.5em 0.5em 0 0.5em;
}


/* Footer */
#footer {
	margin-top: 0;
	color: grey;
	font-size: 87.5%;
	line-height: 1.3em;
}
#footer address {
	position: relative;
	margin: .5em 0 0 0;
	text-align: right;
}
#footer a {
	font-variant: small-caps;
	font-style: normal;
	color: #77d;
	text-decoration: none;
}
#footer .copyright {
	position: absolute;
	left: 0;
	text-align: left;
	display: block;
}
#footer .engine {
	position: absolute;
	text-align: right;
	display: block;
	right: 0;
}


/* Signature */
.signature {
	margin-top: 3em;
	position: relative;
}
.signature .author {
    font-size: 16px;
	font-variant: small-caps;
	font-style: normal;
	color: black;
	display: block;
	margin-bottom: 1.5em;
}
.signature .date {
	font-size: 87.5%;
	line-height: 1.5em;
	display: block;
	font-variant: small-caps;
	font-style: normal;
	position: absolute;
	right: 0;
	top: 0;
}
.signature .location {
	display: block;
	font-size: 87.5%;
	line-height: 1.5em;
	position: absolute;
	right: 0;
	top: 1.5em;
}


/* Pagination */
.pagination {
  height: 20px 0;
}
.pagination ul {
  display: inline-block;
  *display: inline;
  margin-bottom: 0;
  margin-left: 0;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  *zoom: 1;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.pagination ul > li {
  display: inline;
}
.pagination ul > li > a,
.pagination ul > li > span {
  float: left;
  padding: 4px 12px;
  line-height: 20px;
  text-decoration: none;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-left-width: 0;
}
.pagination ul > li > a:hover,
.pagination ul > li > a:focus,
.pagination ul > .active > a,
.pagination ul > .active > span {
  background-color: #f5f5f5;
}
.pagination ul > .active > a,
.pagination ul > .active > span {
  color: #999999;
  cursor: default;
}
.pagination ul > .disabled > span,
.pagination ul > .disabled > a,
.pagination ul > .disabled > a:hover,
.pagination ul > .disabled > a:focus {
  color: #999999;
  cursor: default;
  background-color: transparent;
}
.pagination ul > li:first-child > a,
.pagination ul > li:first-child > span {
  border-left-width: 1px;
  -webkit-border-bottom-left-radius: 4px;
          border-bottom-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
          border-top-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-topleft: 4px;
}
.pagination ul > li:last-child > a,
.pagination ul > li:last-child > span {
  -webkit-border-top-right-radius: 4px;
          border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
          border-bottom-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;
}
.pagination-centered {
  text-align: center;
}
.pagination-right {
  text-align: right;
}



.right {
    float: right;
    clear: left;
}

.left {
    float: left;
    clear: right;
}

.inset { 
	border: 1px solid silver; 
	padding: 2px;
	margin: 0em 0.8em 0.8em 0.8em;
}

.right.inset {
    margin-right: 0 !important;
}
.left.inset {
    margin-left: 0 !important;
}

.quiet {
	color: grey;
	font-size: 0.875em;
	line-height: 1.714em;
}

blockquote {
	padding: 0 2.8em;
	margin: 1.714em 0;
	color: #444;
	font-size: 0.875em;
	line-height: 1.714em;
}

.note {
	padding-top: 0.5em; 
	background-color: #fafaff;
	border-top: 1px solid silver;
	border-bottom: 1px solid silver;
}


/* Fancy first letter */
.emphnext + p:first-letter, p.emphfirst:first-letter {
	font-size: 48px;
	padding: 0 0.15em 0 0;
	margin:  0.05em 0 -0.15em 0;
	line-height: 1em;
	float: left;
}

/*
.emphnext + p:first-line, p.emphfirst:first-line {
	font-variant: small-caps;
	font-size: larger;
}
*/


/* Table */
table.neat {
	width: 80%;
	margin: 1.5em auto 1.5em auto;
	table-layout: fixed;
	border-spacing: 0;
}
table.neat tr {
    text-align: center;
}
table.neat th {
    font-weight: normal;
    background-color: #eeeeee;
}
table.neat td {
    background-color: white;
}
table.neat th.title {
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
    vertical-align: bottom;
    background-color: lightgrey;
}
caption { 
	color: #333;
	font-size: 0.875em;
	margin: 0.875em auto 0 auto;
	line-height: 1.14em;
	text-align: justify;
}

/* Lists */
ul {
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	line-height: 1.5em;
	padding-left: 1.5em;
}
ul li {
	list-style-type: square;
	list-style-position: outside;
}
ol li {
	list-style-type: decimal;
	list-style-position: inside;
}
dt {
    font-weight: bold;
}
dd {
    margin: 0 0 1.5em 0;
    text-align: justify;
}
ul.compact {
    margin: 0;
    padding: 0;
}
ul.compact li {
	list-style-type: square;
	list-style-position: inside;
}
ul.compact li span.date {	
	display: none;
	color: grey;
	width: 20%;
}
ul.compact li a {
	width: 70%;
}


.footnotes {
    color: grey;
}
.footnotes:hover {
    color: black;
}
.footnotes ol li {
	list-style-type: decimal;
	list-style-position: inside;
	font-size: 75%;
	line-height: 1.5em;
}
.footnotes ol li > a {
    display: none;
}


/* Sections */
.section { 
	font-size: 87.5%;
	line-height: 1.43em;
	margin-bottom: 1.43em;
	margin-top: 1.43em;
	margin-left: 9em;
	padding-right: 3em;
}
.section h1 {
	font-family: Palatino, georgia, serif;
	font-size: 110%;
	line-height: 1.43em;
	position: absolute;
	width: 6.5em;
	max-width: 6.5em;
	margin-left: -8em;
	font-weight: bold;
	font-variant: small-caps;
	text-align: right;
}
.section p {
    margin-bottom: 1.43em;
}

.list .title {
    font-weight: bold;
}
p.line {
    position: relative;
    margin: 0;
}
p.excerpt {
    margin: 0;
}
.comments {
    font-size: smaller;
    position: absolute;
    color: silver;
    right: 0;
    top: 0;
}
.excerpt {
    color: black;
}

/* Code */
pre {
	margin: 1em 0 1.5em 0;
	font-size: 0.75em; /* Hack to make code look same size as body font */  
	line-height: 1.5em;	
	color: #111;
	background: #fffff0;
	border: 1px solid #ddc;
	padding: 0.5em 1em;
	overflow: hidden;

	/* Experimental CSS3 stuff */
	box-shadow: 1px 1px 6px #ccc;
	-webkit-box-shadow: 1px 1px 6px #ccc;
	-moz-box-shadow: 1px 1px 6px #ccc;
}
pre:hover {
	border-right: none;
	overflow: visible;
}
code {
	font-size: 1em;
	background-color: #f7f7ff;
	line-height: 1.4em;
}
pre > code {
	background-color: transparent;
}


/* Disqus */
#disqus_thread {
	background: white;
	padding: 4em 3em 1.5em 3em;
	border: 2px solid #ccc;
	border-radius: 5px;
}
#disqus_thread {
	box-shadow: 2px 2px 8px #aaa;
	-webkit-box-shadow: 2px 2px 8px #aaa;
	-moz-box-shadow: 2px 2px 8px #aaa;
}
#disqus_thread {
    padding-top: 0;
	margin-top: 2.93em;
}
.dsq-comment-body {
	text-align: justify;
	line-height: 1.29em;
}
.dsq-comment {
	padding-top: 0 !important;
	margin-top: 1.7em !important;
	margin-bottom: 1.9em !important;
	background-image: none !important;
}
.dsq-comment-message {
	line-height: 1.714em;
}
.dsq-comment-header {
	background-color: whitesmoke !important;
	border-top: 1px solid silver !important;
	border-bottom: 1px solid silver !important;
	margin-bottom: 1.15em !important;
}
.dsq-header-time { margin-left: 0 !important; }
.dsq-comment-header cite { 
	font-variant: small-caps;
	margin-left: 0 !important;
}
.dsq-comment-footer { 
	font-size: 75% !important; 
	margin-top: 1px !important;
}
#dsq-options {
	background: whitesmoke;
	border-bottom: 1px solid silver;
	border-top: 1px solid silver;
	padding: 0 0 0 1em;
}
#dsq-comments-count {
	margin-top: 0.8em !important;
	margin-bottom: 1.2em !important;
}
#dsq-extra-links { padding-left: 0 !important; }
#dsq-extra-links li img { display: none; }
#dsq-options-toggle { color: silver; font-size: 75% !important;}
#dsq-add-new-comment {
	margin-top: 1.19em !important;
	margin-bottom: 1.25em !important;
}
/* The following position, width and height ensure
 * that none of the body in the iframe shows through.
 */
form#comment {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: white !important;
}


/* Figures and images */
dl.figure {
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	text-align: center;
}

dl.figure dd {
	color: #333;
	font-size: 0.875em;
	margin: 0.875em auto 0 auto;
	line-height: 1.14em;
	text-align: justify;
	width: 85%;
}

