<h1>
    <a href="/" title="My Personal Site">Anh Tran</a>
</h1>
<ul>
    <li><a target="_blank" title="LinkedIn" href="http://www.linkedin.com/in/trananh/"><i class="fa fa-linkedin"></i></a></li>
    <li><a target="_blank" title="GitHub" href="https://github.com/trananh"><i class="fa fa-github"></i></a></li>
    <li><a target="_blank" title="Google Code" href="https://code.google.com/u/109154443717173369460/"><i class="fa fa-code"></i></a></li>
    <li><a target="_blank" title="Google+" href="https://www.google.com/+AnhTranX?rel=author"><i class="fa fa-google-plus"></i></a></li>
    <li><a target="_blank" title="Twitter" href="https://twitter.com/AnhTranX"><i class="fa fa-twitter"></i></a></li>
    <li><a title="Email" href="mailto:trananh@email.arizona.edu?subject=Contact"><i class="fa fa-envelope"></i></a>
        &nbsp;
    </li>
</ul>