<!-- Next & Previous post navigation -->
<div class="prev">
    {% if page.previous.url %}
    <a href="{{page.previous.url}}" title="Previous Post: {{page.previous.title}}">
        &laquo;&nbsp;&nbsp;Prev Post
    </a>
    {% endif %}
</div>
<div class="next">
    {% if page.next.url %}
    <a href="{{page.next.url}}" title="Next Post: {{page.next.title}}">
        Next Post&nbsp;&nbsp;&raquo;
    </a>
    {% endif %}
</div>
<div class="top">
    <a href="/blog/" title="Go to Blog">[&nbsp;Blog&nbsp;]</a>
</div>
