---
layout: default
title: anh &rarr; blog

feed: atom.xml
keywords: Anh Tran, Blog, Research, Programming, Hobbies, Family, Personal
---

<h1 style="float: left;">Anh's Blog</h1>

<a href="/blog/atom.xml" title="Atom feed">
    <img src="/images/rss.png" width="3.1428571%" style="float: right; min-width: 18px" >
</a>
<p>&nbsp;</p>

<hr style="margin-bottom: 1.5em;">

<span itemscope itemtype="http://schema.org/Blog">

{% for post in paginator.posts %}
    <div itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting" class="section list">
        <h1 itemprop="datePublished" content="{{ post.date | date: '%Y-%m-%d' }}"
            style="text-align: left;">{{ post.date | date_to_string }}</h1>
        <p class="line">
            <a itemprop="name" class="title" href="{{ post.url }}">{{ post.title }}</a>
            <a class="comments disappear-680px" href="{{ post.url }}#disqus_thread">View Comments</a>
            {% if post.categories.size > 0 %}
            <span class="category disappear-720px">&nbsp;&laquo;&nbsp;
                {{ post.categories | first }}&nbsp;
                {% assign stop = post.categories.size | minus:1 %}
                {% for i in (1..stop) %}
                |&nbsp;{{ post.categories[i] }}
                {% endfor %}
            </span>
            {% endif %}
        </p>
        <p itemprop="description" class="excerpt" style="margin-bottom: 2em;">{{ post.excerpt }}</p>

        <meta itemprop="url" content="{{ site.url }}{{ post.url }}">
        <span itemprop="author" itemscope itemtype="http://schema.org/Person">
            <meta itemprop="name" content="Anh Tran"/>
        </span>
    </div>
{% endfor %}

</span>

<span style="text-align: center">
    {% include navpagination.html %}
</span>

<input type="hidden" id="disqus_shortname" value="{{ site.disqus_shortname }}">
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = document.getElementById('disqus_shortname').value; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
</script>
