---
layout: base
---

<div id="header">
    {% include header.html %}
</div>

<div id="navsidewrap">
    <div id="navsidebar">
        {% include navsidesocial.html %}
    </div>
</div>

<!-- Start Page -->
<div id="page">

    <div id="navheader">
        <div id="post-navigation-wrapper">
            <div id="post-navigation">
                {% include navtoppost.html %}
            </div>
        </div>
    </div>

    <h1 class="emphnext">{{ page.title }}</h1>

    {{ content }}

    <address class="signature">
        <a class="author" href="/">Anh&nbsp;X&nbsp;Tran</a>
        <span class="date">{{ page.date | date_to_long_string }}</span>
        <span class="location">{{ page.location }}</span>
    </address>

</div>
<!-- End Page -->

<!-- Disqus comments -->
{% if page.comments %}
    <input type="hidden" id="disqus_shortname" value="{{ site.disqus_shortname }}">
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = document.getElementById('disqus_shortname').value; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    <!-- End Disqus -->
{% endif %}


<!-- Floating side social bar -->
<script type='text/javascript'>
//<![CDATA[
function hideSocial(){
    var minwidth = $('#site').width() + 200;
    if ($(window).width() < minwidth) {
            $("#navsidebar").fadeOut("slow");
    } else {
        $("#navsidebar").fadeIn("slow");
    }
}
$(function() {
    var minwidth = $('#site').width();
    if ($(window).width() < minwidth) {
            $("#navsidebar").hide();
    }

    // Stick the #navsidebar to the top of the window
    var topPadding = 36
    var nav = $('#navsidebar');
    var site = $('#site');
    var navHomeY = nav.offset().top - topPadding;
    var navHomeLeftOffset = nav.offset().left - site.width() - site.offset().left;
    var isFixed = false;
    var $w = $(window);
    $w.scroll(function() {
        nav.css({
            left: site.offset().left + site.width() + navHomeLeftOffset - $w.scrollLeft()
        })
        var scrollTop = $w.scrollTop();
        var shouldBeFixed = scrollTop > navHomeY;
        if (shouldBeFixed && !isFixed) {
            nav.css({
                position: 'fixed',
                top: topPadding
            });
            isFixed = true;
        }
        else if (!shouldBeFixed && isFixed)
        {
            nav.css({
                position: 'static'
            });
            isFixed = false;
        }
    });

    // Need to account for resizing
    $w.resize(function() {
        hideSocial();

        nav.css({
            left: site.offset().left + site.width() + navHomeLeftOffset - $w.scrollLeft()
        });
    });
});
//]]>
</script>

<!-- Floating top posts-navigation bar -->
<script type='text/javascript'>
//<![CDATA[
function hidePostsNav(){
    if ($(window).height() < 150) {
            $("#post-navigation").fadeOut("slow");
    } else {
        $("#post-navigation").fadeIn("slow");
    }
}
$(function() {
    if ($(window).height() < 150) {
            $("#post-navigation").hide();
    }
    // Stick the #post-navigation to the top of the window
    var topPadding = 0
    var nav = $('#post-navigation');
    var site = $('#site');
    var navHomeY = nav.offset().top - topPadding;
    var navHomeLeftOffset = nav.offset().left - site.offset().left;
    var navHomeRightOffset = site.width() - nav.width() - navHomeLeftOffset;
    var isFixed = false;
    var $w = $(window);
    $w.scroll(function() {
        nav.css({
            left: site.offset().left + navHomeLeftOffset - $w.scrollLeft(),
            width: site.width() - navHomeLeftOffset - navHomeRightOffset
        });

        var scrollTop = $w.scrollTop();
        var shouldBeFixed = scrollTop > navHomeY;
        if (shouldBeFixed && !isFixed) {
            nav.css({
                position: 'fixed',
                top: topPadding
            });
            nav.addClass('active');
            isFixed = true;
        }
        else if (!shouldBeFixed && isFixed)
        {
            nav.css({
                position: 'static'
            });
            nav.removeClass('active');
            isFixed = false;
        }
    });

    // Need to account for resizing
    $w.resize(function() {
        hidePostsNav();

        // We'll need to recompute the left position & width on resize
        nav.css({
            left: site.offset().left + navHomeLeftOffset - $w.scrollLeft(),
            width: site.width() - navHomeLeftOffset - navHomeRightOffset
        });
    });
});
//]]>
</script>