---
layout: base
---

<div id="navsidewrapper">
    <div id="navsidebar">
        {% include navsidesocial.html %}
    </div>
</div>

<!-- Start Page -->
<div id="page">

    <div id="navtop">
        <div class="post-navigation-wrapper">
            <div id="post-navigation">
                {% include navtoppost.html %}
            </div>
        </div>
    </div>

    <h1 class="emphnext">{{ page.title }}</h1>

    {{ content }}

    <address class="signature">
        <a class="author" href="/">Anh&nbsp;X&nbsp;Tran</a>
        <span class="date">{{ page.date | date_to_long_string }}</span>
        <span class="location">{{ page.location }}</span>
    </address>

</div>
<!-- End Page -->

<!-- Disqus comments -->
{% if page.comments %}
    <input type="hidden" id="disqus_shortname" value="{{ site.disqus_shortname }}">
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = document.getElementById('disqus_shortname').value; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    <!-- End Disqus -->
{% endif %}


<!-- Floating side social bar -->
<script type='text/javascript'>
function hideSideBar() {
    var minWidth = $('#site').width()  + ($('#navsidebar').width() + 50) * 2;
    if ($(window).width() < minWidth) {
        $('#navsidebar').css("display","none")
    } else if ($('#navsidebar').css("display") === 'none') {
        $('#navsidebar').css("display","")
    }
}
//<![CDATA[
$(function() {
    hideSideBar();

    // Stick the #navsidebar to the top of the window
    var topPadding = 46
    var nav = $('#navsidebar');
    var site = $('#site');
    var navHomeY = 112 - topPadding;                 // nav.offset().top - topPadding;
    var isFixed = false;
    var $w = $(window);
    $w.scroll(function() {
        var scrollTop = $w.scrollTop();
        var shouldBeFixed = scrollTop > navHomeY;
        if (shouldBeFixed && !isFixed) {
            nav.css({
                position: 'fixed',
                top: topPadding,
                left: site.offset().left + site.width() - $w.scrollLeft()
            });
            isFixed = true;
        } else if (!shouldBeFixed && isFixed) {
            nav.css({
                position: 'static'
            });
            isFixed = false;
        }
    });

    // Need to snap the side back into place on horizontal resizing
    $w.resize(function() {
        hideSideBar();
        nav.css({
            left: site.offset().left + site.width() - $w.scrollLeft()
        });
    });
});
//]]>
</script>

<!-- Floating top posts-navigation bar -->
<script type='text/javascript'>
//<![CDATA[
function isHorizontalBar() {
    return $(document).width() > $(window).width();
}
$(function() {
    // Stick the #post-navigation to the top of the window
    var topPadding = 0;
    var nav = $('#post-navigation');
    var page = $('#page');
    var site = $('#site');
    var navHomeY = nav.offset().top - topPadding;
    var isFixed = false;
    var $w = $(window);
    $w.scroll(function() {
        var scrollTop = $w.scrollTop();
        var shouldBeFixed = (scrollTop > navHomeY) && (!isHorizontalBar());
        if (shouldBeFixed && !isFixed) {
            nav.css({
                position: 'fixed',
                top: topPadding,
                left: page.offset().left + site.width() * .06 + 2 - $w.scrollLeft(),
                width: page.width()
            });
            nav.addClass('active');
            isFixed = true;
        } else if (!shouldBeFixed && isFixed) {
            nav.css({
                position: 'static'
            });
            nav.removeClass('active');
            isFixed = false;
        }
    });

    // Need to account for resizing
    $w.resize(function() {

        // We'll need to recompute the left position & width on resize
        nav.css({
            left: page.offset().left + site.width() * .06 + 2 - $w.scrollLeft(),
            width: page.width(),
        });

        var scrollTop = $w.scrollTop();
        shouldBeFixed = (scrollTop > navHomeY) && (!isHorizontalBar());
        if (shouldBeFixed && !isFixed) {
            nav.css({
                position: 'fixed',
                top: topPadding,
                width: page.width()
            });
            nav.addClass('active');
            isFixed = true;
        } else if (!shouldBeFixed && isFixed) {
            nav.css({
                position: 'static'
            });
            nav.removeClass('active');
            isFixed = false;
        }
    });
});
//]]>
</script>
